{% extends 'base.html' %}
{% block title %}Job Detail{% endblock %}

{% block content %}
{% load static %}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Jamael Tanveer</h1>
        <img class="py-4 rounded-circle" src="{% static 'pp_photo_square.png' %}" height="300">
        <p class="lead text-muted">Software Engineer | Learner | Cricketer | Traveler</p>
        <p>
            <a href="mailto:imjtnayon@gmail.com" class="btn btn-primary my-2">Contact</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for job in jobs.all %}
            <div class="col-md-4">
                <a href="{% url 'detail' job.id %}">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ job.image.url }}" height="225" class="img-responsive"
                             style="object-fit:cover;">
                        <div class="card-body">
                            <p class="card-text">{{ job.summary }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
